@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');
body,
div,
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.mont-regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.mont-med {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.bkg-primary {
    background-color: #ffffff;
}

.bkg-secondary {
    background-color: #545B62 !important;
}

a.navbar-brand>img {
    margin-bottom: 5px;
    margin-right: 10px;
}

button.btn-search {
    height: 38px;
    -webkit-border-top-left-radius: 800px;
    -webkit-border-bottom-left-radius: 800px;
    -moz-border-radius-topleft: 800px;
    -moz-border-radius-bottomleft: 800px;
    border-top-left-radius: 800px;
    border-bottom-left-radius: 800px;
    border-left: #cccccc 1px solid;
    border-top: #cccccc 1px solid;
    border-bottom: #cccccc 1px solid;
    border-right: none;
}

a.logo-footer {
    color: #ffffff;
}

button.btn-search>img {
    height: 20px;
    -webkit-filter: grayscale(100%);
    /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%);
    /* FF 35+ */
}

button.btn-search>img:hover {
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%);
    /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%);
    /* FF 35+ */
}


input.txt-search {
    height: 38px;
    -webkit-border-top-right-radius: 800px;
    -webkit-border-bottom-right-radius: 800px;
    -moz-border-radius-topright: 800px;
    -moz-border-radius-bottomright: 800px;
    border-top-right-radius: 800px;
    border-bottom-right-radius: 800px;
    border-right: #cccccc 1px solid;
    border-top: #cccccc 1px solid;
    border-bottom: #cccccc 1px solid;
    border-left: none;
}

.dropdown-toggle::after {
    display: none;
}

.drop-category {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    font-size: 14px;
    color: #ffffff;
    background-color: #545B62;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.dropdown-menu {
    top: 92%;
    left: 16px;
    background-color: #4E555B;
}

a.dropdown-item {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.dropdown-menu a:hover {
    background-color: #ccc;
}

.txtsearch ::placeholder {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif !important;
    font-style: italic !important;
}

.border-bt {
    border-bottom: 1px #ccc solid;
}
@media only screen and (min-width: 320px){
    .form-inline{
        margin: 0;
    }

    
    input.txt-search {
        width: 253px;
        margin-bottom: 5px;
    }
/*    .dd-category{
        width: 100%;
    }
    .drop-category{
        width: 100%;
    }*/
}
@media only screen and (min-width: 576px){
    input.txt-search {
        width: 435px;
    }
}
@media only screen and (min-width: 992px){
    .navbar-expand-lg .navbar-collapse{
        flex-direction: row-reverse;
    }
    input.txt-search {
        width: 435px;
    }
}
@media only screen and (min-width: 1200px){
      input.txt-search {
        width: 530px;
    }
}
